/* CSS-Grid */
.Main {
    grid-area: Main;
    grid-column-start: auto;
    grid-column-end: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'Video MediaQueue'
        'Chat MediaQueue';
}

.Main {
    height: 100%;
}